@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('outfit-latin-500-normal.woff2') format('woff2'),
       url('outfit-latin-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('outfit-latin-600-normal.woff2') format('woff2'),
       url('outfit-latin-600-normal.woff') format('woff');
}
